@charset "utf-8" ;
*{margin: 0; padding: 0;  font-family: "Pretendard Variable";}
ul{list-style: none;}
a{text-decoration: none; color: black;}
html{font-size: 62.5%}

.m-all-menu{display: none;}

.bar{
    position: fixed;
    width: 0%;
    height: 5px;
    background-color: #043255;
    top: 0;
    z-index: 99;
}
.sub-header{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #E6E6E6;
    background-color: #fff;
}

.sub-header .sub-header-wrap{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}


.sub-header .sub-header-wrap ul a{
    float: right;
    line-height: 50px;
    font-size: 1.5rem;
    padding:0px 20px;
  
}

.sub-header .sub-header-wrap ul a:hover{
    text-decoration: underline;
}



.sub-header .sub-header-wrap ul li:first-child{
    float: left;
}


.header{
    width: 100%;
    height: 86px;
    border-bottom: 1px solid #e6e6e6;
    background-color: #fff;
    z-index: 90;
}

.header-wrap{
    width: 88%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between ;
    align-items: center;

}
.header-wrap .header-right{
    display: flex;
    align-items: center;
}

.header-wrap .header-right .title{
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 86px;

    

}

.header-wrap .header-right img{
    width: 70%;
}


.header-wrap .header-left .main-nav{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    width: 100%;
}


.header-wrap .header-left .main-nav .main-nav-text{
    font-size: 1.8rem;
    line-height: 86px;
    width: 100%;
    height: 100%;
    display: block;
    padding: 0 20px;
}

.header-wrap .header-left .main-nav .all-menu{
    position: relative;
    text-align: center;
}

.header-wrap .header-left .main-nav .all-menu::after{
    content: '';
    width: 130px;
    height: 47px;
    background-color: #b2e1f5;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 40px;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.header-wrap .header-left .main-nav i{
    font-size: 1.6rem;
    margin-left: 2px;
}


.header{
    position: relative;
}

.header-wrap .header-left .main-nav .submenu{
    position: absolute;
    width: 100%;
    background-color: #fff;
    top: 87px;
    left: 0;
    display: none;
    border-bottom: 1px solid #e6e6e6;
}


.header-wrap .header-left .main-nav .submenu .submenu-wrap{
    width: 80%;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;

}  



.header-wrap .header-left .main-nav .kategorie i{
    font-size: 1.1rem;
    float: right;
    line-height: 40px;
    margin-right: 20px;
}

.header-wrap .header-left .main-nav .submenu .sub-submenu-title{
    width: 16%;
}

.header-wrap .header-left .main-nav .submenu .sub-submenu-title p{
    font-size: 1.9rem;
}


.header-wrap .header-left .main-nav .submenu .sub-submenu-title p:nth-child(1){
    padding-top: 50px;
}
.header-wrap .header-left .main-nav .submenu .sub-submenu-text{
    width: 73%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}



.header-wrap .header-left .main-nav .submenu .sub-submenu-text .kategorie>a{
    border: 1px solid #e4e8eb;
    width: 200px;
    height: 40px;
    display: block;
    line-height: 40px;
    padding-left: 20px;
    font-size: 1.7rem;
    background-color: fff;
}

.header-wrap .header-left .main-nav .submenu .sub-submenu-text .kategorie>a:hover{
    background-color: #043255;
    color: #fff;
    text-decoration: none;
}




.header-wrap .header-left .main-nav .submenu .sub-submenu-text .kategorie ul{
    margin: 12px 0;
}

.header-wrap .header-left .main-nav .submenu .sub-submenu-text .kategorie{
    width: 32%;
}

.header-wrap .header-left .main-nav .submenu .sub-submenu-text .kategorie ul li a{
    font-size: 1.4rem;
    line-height: 23px;
    margin-left: 10px;
    position: relative;
}

.header-wrap .header-left .main-nav .submenu .sub-submenu-text .kategorie ul li a::before{
    content: '- ';

}

.header-wrap .header-left .main-nav .submenu .list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


.header-wrap .header-left .main-nav .submenu .list li{
    width: 25%;
    margin-top: 13px;
;}

.header-wrap .header-left .main-nav .submenu .sub-submenu-text li a:hover{
   text-decoration: underline;
}
.header-wrap .header-left .main-nav .submenu .sub-submenu-text li:nth-last-of-type(1){
    margin-bottom: 20px;
}


.header-wrap .header-left .main-nav .submenu .list li:nth-last-of-type(1){
    margin-bottom: 60px;
}
.header-wrap .header-left .main-nav .submenu .list li a::before{
    content: '- ';

}

.header-wrap .header-left .main-nav .submenu .list li a{
    font-size: 1.6rem;
    display: inline-block;  
}







/* 전체메뉴 css 시작 */


.all-menu-content-wrap .all-menu-content-box{
    width: 100%;
}

.all-menu-content-wrap .all-menu-content-box .all-menu-content-box-wrap{
    width: 72.5%;
    margin: 0 auto;
    padding-top: 40px;
    gap: 40px;
}
.all-menu-content-box-wrap > p{
    font-size: 2.5rem;
    padding: 30px 0 70px 0;
    text-align: center;
    border-top: 1px solid #e4e8eb;
    font-weight: 600;
    line-height: 3rem;
}



.all-menu-content-box-wrap .title1{
    border-top: 0;
    padding-top: 10px;
}


.all-menu-content-wrap .all-menu-content-box  .sub-submenu-text{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}


.all-menu-content-wrap .all-menu-content-box  .sub-submenu-text .kategorie>a{
    border: 1px solid #e4e8eb;
    width: 70%;
    height: 40px;
    display: block;
    line-height: 40px;
    padding-left: 20px;
    font-size: 16px;
    background-color: #043255;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 400;
}


.all-menu-content-wrap .all-menu-content-box  .all-menu-content-box-wrap i{
    font-size: 1.5rem;
    line-height: 40px;
}

.all-menu-content-box-wrap .all1 p.on {
    background-color: #016cbc;
    color: #fff;
}
.all-menu-content-box-wrap .all2 p.on{
    background-color: #016cbc;
    color: #fff;
}
.all-menu-content-box-wrap .all3 p.on{
    background-color: #016cbc;
    color: #fff;
}
.all-menu-content-box-wrap .all4 p.on{
    background-color: #016cbc;
    color: #fff;
}


.all-menu-content-wrap .all-menu-content-box  .sub-submenu-text  .kategorie ul li a{
    font-size: 1.4rem;
    line-height: 23px;
    margin-left: 10px;
    position: relative;
}

.all-menu-content-wrap .all-menu-content-box  .sub-submenu-text  .kategorie {
    width: 25%;
}



.all-menu-content-wrap .all-menu-content-box  .sub-submenu-text .kategorie ul li a{
    font-size: 1.4rem;
    line-height: 23px;
    margin-left: 10px;
    position: relative;
}


.all-menu-content-wrap .all-menu-content-box  .sub-submenu-text .kategorie ul li a:hover{
    text-decoration: underline;
}

.all-menu-content-wrap .all-menu-content-box  .sub-submenu-text .kategorie ul{
    margin: 12px 0;
    width: 70%;
}

.all-menu-content-box{
    padding-bottom: 30px;
}


.all-menu-content-box .list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;

}


.all-menu-content-box .list li{
    width: 25%;
    margin-top: 10px;
}

.all-menu-content-box .list li a{
    font-size: 1.4rem;
    line-height: 2rem;
}

.all-menu-content-box .list li a:hover{
    text-decoration: underline;
}
.all-menu-content-box .kategorie i{
    font-size: 1.1rem;
    float: right;
    line-height: 40px;
    margin-right: 20px;
}

.last-menu{
    padding-bottom: 100px;
}

/* 팝업 */


/* 테블릿 가로 (해상도 768px ~ 1023px) */
@media all and (max-width:1023px) { 


    .sub-header .sub-header-wrap ul a{
        font-size: 1.2rem;
    }
    .sub-header {
        height: 40px;
    }
    .sub-header .sub-header-wrap ul a{
        line-height: 40px;
    }

    .header{
        height: 60px;
    }
    .header-wrap .header-left .main-nav .main-nav-text{
        display: none;
    }

    .header-wrap .header-left .main-nav .all-menu{
        display: block;
        font-size: 1.4rem;
        padding: 0 10px;
    }

    .header-wrap .header-left .main-nav .all-menu::after{
        width: 100px;
        height: 40px;
        background-color: #b2e1f5;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 40px;
        transform: translate(-50%,-50%);
        z-index: -1;
    }

        
    .header-wrap .header-left .all-menu i{
        font-size: 1.6rem;
        margin-left: 2px;
    }


    .header-wrap .header-right .title{
        font-size: 1.5rem;
    }
    .header-wrap .header-right img{
        width: 60%;
        background-color: #043255;
    }

    .all-menu-content-box-wrap{
        display: flex;
        border-top: 1px solid #e4e8eb;
    }

    .all-menu-content-box-wrap > p{
        font-size: 1.6rem;
        padding: 30px 0 70px 0;
        width: 22%;
        display: flex;
        border-top: 1px solid #e4e8eb;

    }

    .all-menu-content-wrap .all-menu-content-box  .all-menu-content-box-wrap i{
        display: none;
    }
    
    .all-menu-content-wrap .all-menu-content-box  .sub-submenu-text .kategorie{
        width: 50%;
        margin-top: 10px;
    }
    
.all-menu-content-wrap .all-menu-content-box  .sub-submenu-text .kategorie>a{
    width: 80%;
    margin: 0 auto;
    font-size: 1.3rem;
    height: 30px;
    line-height: 30px;
}
.all-menu-content-wrap .all-menu-content-box  .sub-submenu-text .kategorie i{
    font-size: 0.9rem;
    line-height: 30px;
}

.all-menu-content-wrap .all-menu-content-box  .sub-submenu-text .kategorie ul{
    justify-content: space-evenly;
}


.all-menu-content-wrap .all-menu-content-box  .sub-submenu-text ul li{
    width: 80%;
    margin: 0 auto;
}


.all-menu-content-wrap .all-menu-content-box  .sub-submenu-text .kategorie ul li a{
    margin-left: 0;
    margin: 0 auto;
    font-size: 1.3rem;
    line-height: 1.6rem;

}

.all-menu-content-box .list li a{
    font-size: 1.3rem;
    line-height: 1.6rem; 
}

.all-menu-content-wrap .all-menu-content-box  .sub-submenu-text .kategorie ul{
    width: 100%;
}

.all-menu-content-box-wrap > p {
    border-top: 0px solid #5f93bb;
}


.all-menu-content-box .list li{
    width: 50%;
    margin-top: 10px;
}

.all-menu-content-box .list li a{
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: center;
    margin-left: 10%;
}

@media all and (max-width:768px) {
    
    .sub-header{
        height: 30px;
    }

        
    .sub-header .sub-header-wrap ul a {
        font-size: 1rem;
        padding: 0 5px;
        line-height: 30px;
    }
    .header{
        height: 40px;
    }

    .header-wrap .header-left .main-nav .all-menu{
        font-size: 1rem;
        margin-right: 80px;
        display: none;
    }

    .m-all-menu{
        display: block;
        width: 50px;
        height: 50px;
        background-color: #043255;
        border-radius: 50%;
        position: fixed;
        top: 80px;
        right: 20px;
        
    }
    .m-all-menu i{
        width: 100%;
        text-align: center;
        line-height: 50px;
        font-size: 1.5rem;
        color: #fff;
    }


    
    .header-wrap .header-right .title{
        font-size: 1.5rem;
        line-height: 40px;
    }

    .header-wrap .header-right img{
        background-color: #043255;
        width: 17px;
        margin-right: 5px;
    }


    .header-right{
        justify-content: center;
        width: 100%;
    }
 



}
@media all and (max-width:768px) {
    .header{
        height: 40px;
    }

    .header-wrap .header-left .main-nav .all-menu{
        font-size: 1rem;
        margin-right: 80px;
        display: none;
    }

    .m-all-menu{
        display: block;
        width: 50px;
        height: 50px;
        background-color: #043255;
        border-radius: 50%;
        position: fixed;
        top: 80px;
        right: 20px;

    }
    .m-all-menu i{
        width: 100%;
        text-align: center;
        line-height: 50px;
        font-size: 1.5rem;
        color: #fff;
    }


    
    .header-wrap .header-right .title{
        font-size: 1.5rem;
        line-height: 40px;
    }

    .header-wrap .header-right img{
        background-color: #043255;
        width: 17px;
        margin-right: 5px;
    }

    
    .header-wrap .header-right{
        justify-content: center;
        width: 100%;
    }
        
    .all-menu-content-wrap .all-menu-content-box  .sub-submenu-text .kategorie{
        width: 100%;
        margin-top: 10px;
    }
    .all-menu-content-box-wrap{
        display: block;
        border-top: 1px solid #e4e8eb;
    }

    .all-menu-content-box-wrap > p
    {
        width: 100%;
        padding: 0;
        font-size: 1.9rem;
        margin: 0 auto;
        display: block;
        margin-bottom: 20px;
    }

    .all-menu-content-box .list li a{
        font-size: 1rem;
        line-height: 1.6rem; 
    }

    .all-menu-content-wrap .all-menu-content-box  .sub-submenu-text .kategorie ul li a{
        font-size: 1.2rem;
    }
}

@media all and (max-width:425px){}


}