@charset "utf-8" ;
*{margin: 0; padding: 0;  font-family: "Pretendard Variable";}
ul{list-style: none;}
a{text-decoration: none; color: black;}

.pop-up{
    width: 550px;
    height: 570px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    z-index: 99;
    border-radius: 30px;
    border: 3px solid #043255;
}

.pop-up .pop-up-wrap{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.pop-up .pop-up-wrap img{
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}


.pop-up .pop-up-wrap .check-box{
    padding-top: 20px;

}
.pop-up .pop-up-wrap span{
    font-size: 16px;
}

.window{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    z-index: 99;
}

.pop-up .pop-up-wrap .pop-up-close{
    width: 40px;
    height: 40px;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #043255;
    top: 25px;right: 20px;
}


.pop-up .pop-up-wrap .pop-up-close i{
    color: #043255;
    text-align: center;
    line-height: 40px;
    font-size: 26px;
}
.bar{
    position: fixed;
    width: 0%;
    height: 5px;
    background-color: #043255;
    top: 0;
    z-index: 99;
}
.sub-header{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #E6E6E6;
    background-color: #fff;
}

.sub-header .sub-header-wrap{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}


.sub-header .sub-header-wrap ul a{
    float: right;
    line-height: 50px;
    font-size: 15px;
    padding:0px 20px;
  
}



.sub-header .sub-header-wrap ul li:first-child{
    float: left;
}


.header{
    width: 100%;
    height: 86px;
    border-bottom: 1px solid #e6e6e6;
    background-color: #fff;
    z-index: 90;
}

.header-wrap{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
.header-wrap .header-right{
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.header-wrap .header-right .title{
    font-size: 25px;
    font-weight: 500;
    line-height: 86px;

    

}

.header-wrap .header-right img{
    width: 89%;
}


.header-wrap .header-left .main-nav{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    width: 100%;
}


.header-wrap .header-left .main-nav .main-nav-text{
    font-size: 18px;
    line-height: 86px;
    width: 100%;
    height: 100%;
    display: block;
    padding: 0 20px;
}

.header-wrap .header-left .main-nav .all-menu{
    position: relative;
    text-align: center;
}

.header-wrap .header-left .main-nav .all-menu::after{
    content: '';
    width: 130px;
    height: 47px;
    background-color: #b2e1f5;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 40px;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.header-wrap .header-left .main-nav i{
    font-size: 16px;
    margin-left: 2px;
}


.header{
    position: relative;
}

.header-wrap .header-left .main-nav .submenu{
    position: absolute;
    width: 100%;
    background-color: #fff;
    top: 87px;
    left: 0;
    display: none;
    border-bottom: 1px solid #e6e6e6;
}


.header-wrap .header-left .main-nav .submenu .submenu-wrap{
    width: 80%;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;

}  



.header-wrap .header-left .main-nav .kategorie i{
    font-size: 11px;
    float: right;
    line-height: 40px;
    margin-right: 20px;
}

.header-wrap .header-left .main-nav .submenu .sub-submenu-title{
    width: 16%;
}

.header-wrap .header-left .main-nav .submenu .sub-submenu-title p{
    font-size: 19px;
}


.header-wrap .header-left .main-nav .submenu .sub-submenu-title p:nth-child(1){
    padding-top: 50px;
}
.header-wrap .header-left .main-nav .submenu .sub-submenu-text{
    width: 73%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}



.header-wrap .header-left .main-nav .submenu .sub-submenu-text .kategorie>a{
    border: 1px solid #e4e8eb;
    width: 200px;
    height: 40px;
    display: block;
    line-height: 40px;
    padding-left: 20px;
    font-size: 17px;
    background-color: fff;
}

.header-wrap .header-left .main-nav .submenu .sub-submenu-text .kategorie>a:hover{
    background-color: #043255;
    color: #fff;
    text-decoration: none;
}




.header-wrap .header-left .main-nav .submenu .sub-submenu-text .kategorie ul{
    margin: 12px 0;
}

.header-wrap .header-left .main-nav .submenu .sub-submenu-text .kategorie{
    width: 32%;
}

.header-wrap .header-left .main-nav .submenu .sub-submenu-text .kategorie ul li a{
    font-size: 14px;
    line-height: 23px;
    margin-left: 10px;
    position: relative;
}

.header-wrap .header-left .main-nav .submenu .sub-submenu-text .kategorie ul li a::before{
    content: '- ';

}

.header-wrap .header-left .main-nav .submenu .list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


.header-wrap .header-left .main-nav .submenu .list li{
    width: 25%;
    margin-top: 13px;
;}

.header-wrap .header-left .main-nav .submenu .sub-submenu-text li a:hover{
   text-decoration: underline;
}
.header-wrap .header-left .main-nav .submenu .sub-submenu-text li:nth-last-of-type(1){
    margin-bottom: 20px;
}


.header-wrap .header-left .main-nav .submenu .list li:nth-last-of-type(1){
    margin-bottom: 60px;
}
.header-wrap .header-left .main-nav .submenu .list li a::before{
    content: '- ';

}

.header-wrap .header-left .main-nav .submenu .list li a{
    font-size: 16px;
    display: inline-block;  
}






/* main 메인 시작 */

.main{
    overflow: hidden;
    
}

.main .main-wrap{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.main .main-wrap .main-wrap-cont{
    width: 70%;
}


.main .main-wrap .main-wrap-cont .main-slider{
    margin-top: 30px;
    position: relative;
    text-align: center;
    height: 620px;
    width: 100%;
}

.main .main-wrap .main-wrap-cont .main-slider img{
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.05);
    border-radius: 0px;

}



.main .main-wrap .main-wrap-cont .main-slider .silde-text{
    width: 355px;
    height: 65px;
    background-color: #043255;
    border-radius: 15px 0;
    position: absolute;
    top: 0px;
    left: 50px;

}

.main .main-wrap .main-wrap-cont .main-slider .silde-text a{
    text-align: center;
    line-height: 65px;
    margin: 0 auto;
    font-size: 18px;
    margin-left: 50px;
    font-weight: 500;
    color: #fff;
}



.main .main-wrap .main-wrap-cont .main-slider .swiper-button-next::after,
.main .main-wrap .main-wrap-cont .main-slider .swiper-button-prev::after{
    width: 20px;
    height: 17px;
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    line-height: 16px;
    position: absolute;
}





.tab-content{
    width: 90%;
    height: 400px;
    margin-top: 150px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #e8f1f5;
}

.tab-content .tab-content-wrap{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}


.tab-content .tab-content-wrap .tab-title{
    height: 70px;
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
    border-bottom: 1px solid #a6a6a6;
}



.tab-content .tab-content-wrap .tab-title .tab-title-ul{
    display: flex;
    margin: 0 auto; 

}

.tab-content .tab-content-wrap .tab-title .tab-title-ul li{
    width: 120px;
    position: relative;
    width: 15%;
}


.tab-content .tab-content-wrap .tab-title .tab-title-ul li a{
    line-height: 50px;
    font-size: 20px;
    width: 100%;
    display: block;
    text-align: center;
    font-weight: 500;
}

.tab-content .tab-content-wrap .tab-title .tab-title-ul li.on a{
    background-color: #fff;
    border-radius: 40px;
    height: 50px;
    line-height: 50px;
}

.tab-content .tab-content-wrap .title-button i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
}


.tab-content .tab-content-wrap .tab-text{
    width: 100%;
    height: 240px;
    padding-top: 20px;
}




.tab-content .tab-content-wrap .tab-text .tab-text-content{
    display: none;
    width: 100%;
    height: 100%;
}

.tab-content .tab-content-wrap .tab-text .tab-text-content.on{
    display: block;
}



.tab-content .tab-content-wrap .tab-text .tab-text-content .main-day-wrap{
    width: 100%;
    display: flex;
    margin: 0 auto; 
    margin-top: 20px;
}


.tab-content .tab-content-wrap .tab-text .tab-text-content .main-day-wrap .day{
    width: 120px;
    height: 100px;
    background-color: #Fff;
    border: 1px solid #d1d9e0;
    border-radius: 30px;
}

.tab-content .tab-content-wrap .tab-text .tab-text-content .main-day-wrap .day span{
    font-size: 25px;
    display: block;
    text-align: center;
    margin-top: 30px;
    font-weight: 500;
    color: #000;
}

.tab-content .tab-content-wrap .tab-text .tab-text-content .main-day-wrap .day p{
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}


.tab-content .tab-content-wrap .tab-text .tab-text-content .main-day-wrap .day-text{
    padding-left: 30px;
}


.tab-content .tab-content-wrap .tab-text .tab-text-content .main-day-wrap .day-text span{
    display: block;
    font-size: 20px;
    margin-top: 40px;
    font-weight: 500;
}

.tab-content .tab-content-wrap .tab-text .tab-text-content .main-day-wrap .day-text p{
    color: #444444;
    font-size: 13px;
    margin-top: 10px;
    cursor: pointer;

}
.tab-content .tab-content-wrap .tab-text .tab-text-content .day-eta-wrap{
    width:100%;
    margin: 0 auto;
    margin-top: 20px;
}


.tab-content .tab-content-wrap .tab-text .tab-text-content .day-eta-wrap .day-text p{
    display: block;
    margin-top: 10px;
    font-size: 15px;
}


.tab-content .tab-content-wrap .tab-text .tab-text-content .day-eta-wrap .day-text span{
    font-size: 12px;
    color: #444444;
    
}

.tab-content .tab-content-wrap .tab-text .tab-text-content ul{
    width: 100%;
    margin: 0 auto;
}

.tab-content .tab-content-wrap .tab-text .tab-text-content ul li{
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    font-size: 16px;
}

.tab-content .tab-content-wrap .tab-text .tab-text-content ul li::before{
    content: '';
    width: 2px;
    height: 2px;
    background-color: #000;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: -8px;
    border-radius: 50%;
}

.tab-content .tab-content-wrap .tab-text .tab-text-content ul li:nth-child(1){
    margin-top: 35px;
    
}

.tab-content .tab-content-wrap .tab-text .tab-text-content ul li span{
    float: right;
    font-size: 14px;
    color: #aaa;
}



.tab-content .tab-content-wrap .tab-title .title-button .tab-more{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #043255;
    text-align: center;
    line-height: 55px;
    position: absolute;
    right: 0%;
    bottom: 5%;
    z-index: 80;
    transition: 0.5s;
    overflow: hidden;
    color: #fff;
}

.tab-content .tab-content-wrap .tab-title .title-button .tab-more:hover i{
    display: none;
}
.tab-content .tab-content-wrap .tab-title .title-button .tab-more p{
    display: none;
    font-size: 16px;
    font-weight: 500;
}


.tab-content .tab-content-wrap .tab-title .title-button .tab-more:hover{
    width: 150px;
    border-radius: 40px;
    height: 55px; 
} 

.tab-content .tab-content-wrap .tab-title .title-button .tab-more:hover p{
    display: block;
    color: #fff;
    font-size: 18px;
}

.main .main-wrap .icon{
    width: 100%;
    height: 350px;
    margin-top: 80px;
}

.main .main-wrap .icon h3{
    width: 85%;
    margin: 0 auto;
    font-size: 26px;
    font-size: 26px;
    margin-bottom: 40px;
    padding-left: 40px;
}


.main .main-wrap .icon .icon-wrap{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 85%;
} 

.main .main-wrap .icon .icon-content{
    width: 23%;
    margin: 10px;
    height: 135px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.15);
}


.main .main-wrap .icon .icon-content .icon-img-wrap{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.main .main-wrap .icon .icon-content img{
    width: 35px;
    height: 35px;
    margin: 0 auto;
}

.main .main-wrap .icon .icon-content a{
    display: block;
    text-align: center;
    margin-top: 8px;
}



.main .main-wrap  .sub-banner{
    width: 100%;
    height: 250px;
    margin-top: 100px;
}

.main .main-wrap .sub-banner .sub-banner-wrap{
    width: 90%;
    height: 100%;
    margin: 0 auto;

}

.main .main-wrap .sub-banner .sub-banner-wrap .sub-banner-back{
    width: 100%;
    height: 250px;
    background-color: #e7f4fa;
    border-radius: 10px;
    position: relative;
}

.main .main-wrap .sub-banner .sub-banner-wrap .sub-banner-back p{
    width: 500px;
    font-size: 24px;
    margin-left: 110px;
    display: block;
    height: 40px;
    padding-top: 40px;
    font-weight: 600;

}


.main .main-wrap .sub-banner .sub-banner-wrap .sub-banner-back span{

    margin-left: 110px;
     margin-top: 10px;
     display: block;
     font-size: 17px;
     font-weight: 400;
}

.main .main-wrap .sub-banner .sub-banner-wrap .sub-banner-back a{
    width: 180px;
    height: 50px;
    background-color: #043255;
    display: block;
    margin-left: 110px;
    margin-top: 55px;
    border-radius: 40px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.main .main-wrap .sub-banner .sub-banner-wrap .sub-banner-back img{
    position: absolute;
    top:-40px;
    right: -50px;
    z-index: 80;
    width: 50%;
}



.main .main-wrap .site-content{
    width: 100%;
    margin-top: 50px;
}

.main .main-wrap .site-content h3{
    width: 85%;
    margin: 0 auto;
    font-size: 26px;
    margin-bottom: 40px;
    padding-left: 40px;


}   


.main .main-wrap .site-content .site-content-wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.main .main-wrap .site-content .site-content-wrap .site-cotent-box{
    width: 45%;

}


.main .main-wrap .site-content .site-content-wrap .site-cotent-box .site-cotent-box-wrap{
    width: 90%;
    height: 110px;
    background-color: #fff;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.15);
}


.main .main-wrap .site-content .site-content-wrap .site-cotent-box .site-cotent-box-wrap a{
    display: block;
    margin-left: 60px;
    font-size: 17px;
}


.main .main-wrap .site-content .site-content-wrap .site-cotent-box .site-cotent-box-wrap a:nth-of-type(1) {
    padding-top: 30px;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 600;
}

.main .main-wrap .site-content .site-content-wrap .site-cotent-box .site-cotent-box-wrap p{
    float: right;
    margin-right: 50px;
    font-size: 23px;
    margin-top: -30px;
    transform: rotate(-40deg);
}


/* aside 시작 */
/* aside 시작 */
/* aside 시작 */


.main .main-wrap .main-wrap-aside{
    width: 30%;
}


.main .main-wrap .main-wrap-aside .aside{
    width: 27%;
    position: fixed;
    top: 160px;
}


.main .main-wrap .main-wrap-aside .aside .login-wrap{
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: space-between ;
    align-items: center;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0,0.15);
    background-color: #fff;
    border-radius: 13px;


}


.main .main-wrap .main-wrap-aside .aside .login-wrap .login-text{
    width: 50%;
    margin-left: 10%;
}


.main .main-wrap .main-wrap-aside .aside .login-wrap .login-text span{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 7px;
    letter-spacing: 2px;
    width: 100%;

}

.main .main-wrap .main-wrap-aside .aside .login-wrap .login-text input {
    -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none;
    width: 95%;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin: 3px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    font-size: 13px;
}

input[type=text]:focus{
    box-shadow: 0 0 8px 0 #ddd;
}


.main .main-wrap .main-wrap-aside .aside .login-wrap .login-text p{
    font-size: 11px;
    transition: 0.2s;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
    margin-left: 5px;
    letter-spacing: 0.5px;
}


.main .main-wrap .main-wrap-aside .aside .login-wrap .login-text .login-sub{
    display: flex;
}


.main .main-wrap .main-wrap-aside .aside .login-wrap .login-text p:hover{
    text-decoration: underline;
}



.main .main-wrap .main-wrap-aside .aside .login-wrap .login-button-wrap{
    width: 30%;
    height: 90px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.1); 
    margin: 0 auto;

}

.main .main-wrap .main-wrap-aside .aside .login-wrap .login-button-wrap a{
    font-size: 17px;
    line-height: 90px;
    width: 100%;
    height: 100%;
}


.main .main-wrap .main-wrap-aside .aside span{
    display: block;
}



.main .main-wrap .main-wrap-aside .aside .aside-search{ 
    display: flex;
    width: 100%;    
    margin-top: 25px;
}

.main .main-wrap .main-wrap-aside .aside .aside-search .aside-search-wrap{
    width: 75%;
}


.main .main-wrap .main-wrap-aside .aside .aside-search .aside-search-wrap input{
    width: 100%;
    height: 62px;
    border-radius: 15px 0 0 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none;
     border: 4px solid #043255;;
    outline: none;
    box-sizing: border-box;
    font-size: 15px;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.15);
}


.main .main-wrap .main-wrap-aside .aside .aside-search .search-button{
    width: 25%;
    height: 62px;   
    background-color: #043255;
    line-height: 62px;
    border-radius:  0 15px 15px 0;

}




.main .main-wrap .main-wrap-aside .aside .aside-search .search-button a{
    width: 140px;
    height: 60px;
    text-align: center;
    display: block;
    line-height: 60px;
    font-size: 18px;
    letter-spacing: 2px;
    color: #fff;

}


.main .main-wrap .main-wrap-aside .aside  .quick-menu-wrap{
    width: 100%;
    height: 330px;
}

.main .main-wrap .main-wrap-aside .aside  .quick-menu-wrap .quick-menu{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    justify-content: center;
    margin-top: 25px;   
}

.main .main-wrap .main-wrap-aside .aside  .quick-menu-wrap .quick-menu .quick-content{
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.15);
    width: 48%;
    height: 150px;
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    line-height: 25px;

}

.main .main-wrap .main-wrap-aside .aside  .quick-menu-wrap img{
    width: 20%; padding-top: 32px;}


.main .main-wrap .main-wrap-aside .aside  .quick-menu-wrap p{
    font-size: 16px;
    font-weight: 500;
    margin-top: 3px;
}


.main .main-wrap .main-wrap-aside .aside .app-wrap{
    width: 100%;
    height: 90px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.15);
}

.main .main-wrap .main-wrap-aside .aside .app-wrap .app{
    width: 12%;
    height: 54px;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.15);
}

.main .main-wrap .main-wrap-aside .aside .app-wrap .app img{
    width: 50%;
    line-height: 57px;
    margin-top: 6px;
}

.main .main-wrap .main-wrap-aside .aside .app-wrap a{
    font-size: 14px;
    margin-left: 10px;
}



.main .main-wrap .aside.on{
    top: 40px;
    transition: 0.6s;
}


.main .main-wrap .aside.down{
    top: -170px;
}



/* 푸터 */

.footer{
    width: 100%; 
    height: 300px;
    position: relative;
    background-color: #043255;
    margin-top: 70px;

}

.footer .footer-wrap{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}


.footer .footer-wrap .top-footer{
    width: 100%;
    height: 50px;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}
.footer .footer-wrap .top-footer ul{
    float: left;
    width: 70%;
}

.footer .footer-wrap .top-footer .select-box{
    position: relative;
    display: flex;
    gap: 15px;
}


.footer .footer-wrap .top-footer .select-box .select-box-wrap{
    width: 200px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    border: 1px solid #fff;
    background-color: #094f84;
    position: relative;
}

.footer .footer-wrap .top-footer .select-box .select-box-wrap p{
    color: #fff;
}


.footer .footer-wrap .top-footer .select-box .select-box-wrap i{
    color: #fff;
    font-size: 13px;
    margin-left: 5px;
}

.footer .footer-wrap .top-footer .options{
    display: none;
}

.footer .footer-wrap .top-footer .options.on{
    display: block;
}

.footer .footer-wrap .top-footer .options ul{
    width: 200px;
    display: block;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px; left: -20px;
}

.footer .footer-wrap .top-footer .options ul li{
    width: 200px;
    height: 40px;
    background-color: #094f84;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
}


.footer .footer-wrap .top-footer .options ul li a{
    color: #fff;
}
.footer .footer-wrap .top-footer .options ul li:hover{
    background-color: #1378c5;
}


.footer .footer-wrap .top-footer .site-button{
    width: 150px;
    text-align: center;
    line-height: 50px;
    background-color: #094f84;
    border: 1px solid #fff;
}


.footer .footer-wrap .top-footer .site-button a{
    color: #fff;
    
}



.footer .footer-wrap .top-footer ul>li{
    display: inline;
    margin-left: 20px;
}

.footer .footer-wrap .top-footer >ul>li>a{
    line-height: 50px;
    color: #fff;
}


.footer .footer-wrap .bottom-footer{
    width: 90%;
    display: flex;
    gap: 30px;
} 
.footer .footer-wrap .bottom-footer a{
    width: 10%;
}


.footer .footer-wrap .bottom-footer img{
    width: 100%;
    text-align: center;
    margin-left: 18px;
}


.footer .footer-wrap .bottom-footer > ul {
    width: 70%;
}

.footer .footer-wrap .bottom-footer >ul li a{
    font-size: 15px;
    line-height: 28px;
    color: #fff;
    font-weight: 300;
}