@charset "utf-8" ;
*{margin: 0; padding: 0;  font-family: "Pretendard Variable";}
ul{list-style: none;}
a{text-decoration: none; color: black;}
html{font-size: 62.5%}

.m-all-menu{
    display: none;
}


.pop-up{
    width: 550px;
    height: 570px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    z-index: 99;
    border-radius: 30px;
    border: 3px solid #043255;
    display: none;
}


.pop-up img{
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}


.pop-up .check-box{
    padding-top: 20px;
    width: 100%;
    text-align: center;

}

.pop-up .check-box input{
    width: 14px;
    height: 14px;
    line-height: 20px;
}

.pop-up .check-box label{
    height: 14px;
    font-size: 1.5rem;
    line-height: 1.4rem;
}

.pop-up .check-box button{
    box-shadow:none;
     border-radius:0;
      padding:0;
    cursor:pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid #043255;

}

.pop-up .check-box i{
    font-size: 2.2rem;
    line-height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 auto;
    color: #043255;
    /* background-color: #444444; */
    margin-left: -2px;
    margin-top: -2px;
    
}

.window{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7   );
    position: fixed;
    z-index: 99;
    display: none;
}

.pop-up .pop-up-close{
    width: 40px;
    height: 40px;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #043255;
    top: 25px;right: 20px;
}


.pop-up .pop-up-close i{
    color: #043255;
    text-align: center;
    line-height: 40px;
    font-size: 2.6rem;
}


.bar{
    position: fixed;
    width: 0%;
    height: 5px;
    background-color: #043255;
    top: 0;
    z-index: 99;
}
.sub-header{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #E6E6E6;
    background-color: #fff;
}

.sub-header .sub-header-wrap{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}


.sub-header .sub-header-wrap ul a{
    float: right;
    line-height: 50px;
    font-size: 1.5rem;
    padding:0px 20px;
  
}

.sub-header .sub-header-wrap ul a:hover{
    text-decoration: underline;
}



.sub-header .sub-header-wrap ul li:first-child{
    float: left;
}


.header{
    width: 100%;
    height: 86px;
    border-bottom: 1px solid #e6e6e6;
    background-color: #fff;
    z-index: 90;
}

.header-wrap{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between ;
    align-items: center;

}
.header-wrap .header-right{
    display: flex;
    align-items: center;
}

.header-wrap .header-right .title{
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 86px;

    

}

.header-wrap .header-right img{
    width: 89%;
}


.header-wrap .header-left .main-nav{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    width: 100%;
}


.header-wrap .header-left .main-nav .main-nav-text{
    font-size: 1.8rem;
    line-height: 86px;
    width: 100%;
    height: 100%;
    display: block;
    padding: 0 20px;
}

.header-wrap .header-left .main-nav .all-menu{
    position: relative;
    text-align: center;
}

.header-wrap .header-left .main-nav .all-menu::after{
    content: '';
    width: 130px;
    height: 47px;
    background-color: #b2e1f5;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 40px;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.header-wrap .header-left .main-nav i{
    font-size: 1.6rem;
    margin-left: 2px;
}


.header{
    position: relative;
}

.header-wrap .header-left .main-nav .submenu{
    position: absolute;
    width: 100%;
    background-color: #fff;
    top: 87px;
    left: 0;
    display: none;
    border-bottom: 1px solid #e6e6e6;
}


.header-wrap .header-left .main-nav .submenu .submenu-wrap{
    width: 80%;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;

}  



.header-wrap .header-left .main-nav .kategorie i{
    font-size: 1.1rem;
    float: right;
    line-height: 40px;
    margin-right: 20px;
}

.header-wrap .header-left .main-nav .submenu .sub-submenu-title{
    width: 16%;
}

.header-wrap .header-left .main-nav .submenu .sub-submenu-title p{
    font-size: 1.9rem;
}


.header-wrap .header-left .main-nav .submenu .sub-submenu-title p:nth-child(1){
    padding-top: 50px;
}
.header-wrap .header-left .main-nav .submenu .sub-submenu-text{
    width: 73%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}



.header-wrap .header-left .main-nav .submenu .sub-submenu-text .kategorie>a{
    border: 1px solid #e4e8eb;
    width: 200px;
    height: 40px;
    display: block;
    line-height: 40px;
    padding-left: 20px;
    font-size: 1.7rem;
    background-color: fff;
}

.header-wrap .header-left .main-nav .submenu .sub-submenu-text .kategorie>a:hover{
    background-color: #043255;
    color: #fff;
    text-decoration: none;
}




.header-wrap .header-left .main-nav .submenu .sub-submenu-text .kategorie ul{
    margin: 12px 0;
}

.header-wrap .header-left .main-nav .submenu .sub-submenu-text .kategorie{
    width: 32%;
}

.header-wrap .header-left .main-nav .submenu .sub-submenu-text .kategorie ul li a{
    font-size: 1.4rem;
    line-height: 23px;
    margin-left: 10px;
    position: relative;
}

.header-wrap .header-left .main-nav .submenu .sub-submenu-text .kategorie ul li a::before{
    content: '- ';

}

.header-wrap .header-left .main-nav .submenu .list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


.header-wrap .header-left .main-nav .submenu .list li{
    width: 25%;
    margin-top: 13px;
;}

.header-wrap .header-left .main-nav .submenu .sub-submenu-text li a:hover{
   text-decoration: underline;
}
.header-wrap .header-left .main-nav .submenu .sub-submenu-text li:nth-last-of-type(1){
    margin-bottom: 20px;
}


.header-wrap .header-left .main-nav .submenu .list li:nth-last-of-type(1){
    margin-bottom: 60px;
}
.header-wrap .header-left .main-nav .submenu .list li a::before{
    content: '- ';

}

.header-wrap .header-left .main-nav .submenu .list li a{
    font-size: 1.6rem;
    display: inline-block;  
}






/* main 메인 시작 */

.main{
    overflow: hidden;
    
}

.main .main-wrap{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.main .main-wrap .main-wrap-cont{
    width: 70%;

}


.main .main-wrap .main-wrap-cont .main-slider{
    margin-top: 30px;
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

.main .main-wrap .main-wrap-cont .main-slider img{
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.05);
    border-radius: 0px;
    object-fit: cover;
    width: 100%;

}


.main .main-wrap .main-wrap-cont .main-slider .swiper-slide{
    width: 100%;
}


.main .main-wrap .main-wrap-cont .main-slider .silde-text{
    width: 430px;
    height: 65px;
    background-color: #043255;
    border-radius: 15px 0;
    position: absolute;
    top: 0px;
    left: 0;

}

.main .main-wrap .main-wrap-cont .main-slider .silde-text a{
    text-align: center;
    width: 330px;
    display: block;
    line-height: 65px;
    margin: 0 auto;
    font-size: 1.8rem;
    margin-left: 50px;
    font-weight: 500;
    color: #fff;
}



.main .main-wrap .main-wrap-cont .main-slider .swiper-button-next::after,
.main .main-wrap .main-wrap-cont .main-slider .swiper-button-prev::after{
    width: 20px;
    height: 17px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 900;
    text-align: center;
    line-height: 16px;
    position: absolute;
}





.tab-content{
    width: 90%;
    height: 400px;
    margin-top: 150px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #f2f4f8;

}

.tab-content .tab-content-wrap{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}


.tab-content .tab-content-wrap .tab-title{
    height: 70px;
    width: 90%;
    margin: 0 auto;
    padding: 0 25px;
    padding-top: 30px;
    border-bottom: 1px solid #d8d8d8;
}



.tab-content .tab-content-wrap .tab-title .tab-title-ul{
    display: flex;
    margin: 0 auto; 

}

.tab-content .tab-content-wrap .tab-title .tab-title-ul li{
    width: 120px;
    position: relative;
    width: 15%;
}


.tab-content .tab-content-wrap .tab-title .tab-title-ul li p{
    line-height: 50px;
    font-size: 2.0rem;
    width: 100%;
    display: block;
    text-align: center;
    font-weight: 500;
}

.tab-content .tab-content-wrap .tab-title .tab-title-ul li.on p{
    background-color: #043255;
    border-radius: 40px;
    height: 50px;
    line-height: 50px;
    color: #fff;
}

.tab-content .tab-content-wrap .title-button i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 1.6rem;
}


.tab-content .tab-content-wrap .tab-text{
    width: 100%;
    height: 240px;
    padding-top: 20px;
}




.tab-content .tab-content-wrap .tab-text .tab-text-content{
    display: none;
    width: 100%;
    height: 100%;
}

.tab-content .tab-content-wrap .tab-text .tab-text-content.on{
    display: block;
}



.tab-content .tab-content-wrap .tab-text .tab-text-content .main-day-wrap{
    width: 100%;
    display: flex;
    margin: 0 auto; 
    margin-top: 20px;
}


.tab-content .tab-content-wrap .tab-text .tab-text-content .main-day-wrap .day{
    width: 100px;
    height: 80px;
    background-color: #fdfdfd;
    border: 1px solid #c6d6e4;
    border-radius: 20px;
}

.tab-content .tab-content-wrap .tab-text .tab-text-content .main-day-wrap .day span{
    font-size: 2.5rem;
    display: block;
    text-align: center;
    margin-top: 12px;
    font-weight: 500;
    color: #000;
}

.tab-content .tab-content-wrap .tab-text .tab-text-content .main-day-wrap .day p{
    display: block;
    text-align: center;
    margin-top: 0px;
    font-size: 1.2rem;
}


.tab-content .tab-content-wrap .tab-text .tab-text-content .main-day-wrap .day-text{
    padding-left: 30px;
}


.tab-content .tab-content-wrap .tab-text .tab-text-content .main-day-wrap .day-text span{
    display: block;
    font-size: 2.0rem;
    margin-top: 17px;
    font-weight: 500;
}

.tab-content .tab-content-wrap .tab-text .tab-text-content .main-day-wrap .day-text p{
    color: #444444;
    font-size: 1.3rem;
    margin-top: 10px;
    cursor: pointer;

}

.tab-content .tab-content-wrap .tab-text .tab-text-content .main-day-wrap .day-text p:hover{
    text-decoration: underline;
}


.tab-content .tab-content-wrap .tab-text .tab-text-content .day-eta-wrap{
    width:100%;
    margin: 0 auto;
    margin-top: 20px;
}


.tab-content .tab-content-wrap .tab-text .tab-text-content .day-eta-wrap .day-text p{
    display: block;
    margin-top: 10px;
    font-size: 15px;
    margin-left: 10px;
}


.tab-content .tab-content-wrap .tab-text .tab-text-content .day-eta-wrap .day-text span{
    font-size: 1.2rem;
    color: #444444;
    padding-right: 10px;
    
}


.tab-content .tab-content-wrap .tab-text .tab-text-content .day-eta-wrap .day-text:nth-of-type(2) span{
    padding-right: 14px;
}

.tab-content .tab-content-wrap .tab-text .tab-text-content ul{
    width: 100%;
    margin: 0 auto;
}

.tab-content .tab-content-wrap .tab-text .tab-text-content ul li{
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    font-size: 1.6rem;
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.tab-content .tab-content-wrap .tab-text .tab-text-content ul li:nth-child(1){
    margin-top: 35px;
    
}

.tab-content .tab-content-wrap .tab-text .tab-text-content ul li span{
    float: right;
    font-size: 1.2rem;
    color: #aaa;
}



.tab-content .tab-content-wrap .tab-title .title-button .tab-more{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #043255;
    text-align: center;
    line-height: 55px;
    position: absolute;
    right: 0%;
    bottom: 5%;
    z-index: 80;
    transition: 0.5s;
    overflow: hidden;
    color: #fff;
}

.tab-content .tab-content-wrap .tab-title .title-button .tab-more:hover i{
    display: none;
}
.tab-content .tab-content-wrap .tab-title .title-button .tab-more p{
    display: none;
    font-size: 1.6rem;
    font-weight: 500;
}


.tab-content .tab-content-wrap .tab-title .title-button .tab-more:hover{
    width: 150px;
    border-radius: 40px;
    height: 55px; 
} 

.tab-content .tab-content-wrap .tab-title .title-button .tab-more:hover p{
    display: block;
    color: #fff;
    font-size: 1.8rem;
}


/* 빠른메뉴 */
.main .main-wrap .icon{
    width: 100%;
    height: 350px;
    margin-top: 80px;
}

.main .main-wrap .icon h3{
    width: 85%;
    margin: 0 auto;
    font-size: 2.6rem;
    margin-bottom: 40px;
    padding-left: 40px;
}

.main .main-wrap .icon .icon-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 0 auto;
    width: 85%;
    gap: 10px;

} 

.main .main-wrap .icon .icon-content{
    width: calc( 25% - 8px);
    box-sizing: border-box;
    border: .2rem solid rgba(0,0,0,0);
    height: 135px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.15);
}




.main .main-wrap .icon .icon-content:hover{
    background-image: linear-gradient(#fff, #fff),linear-gradient(104.25deg, #4cbdf2 30.52%, #043255 102.67%);
    background-origin: border-box;
    background-clip: content-box,border-box;
    border-image-slice: 1;
    border: .2rem solid rgba(0,0,0,0);
}
 


.main .main-wrap .icon .icon-content .icon-img-wrap{
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

.main .main-wrap .icon .icon-content img{
    width: 35px;
    height: 35px;
    margin: 0 auto;
}

.main .main-wrap .icon .icon-content a{
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 1.6rem;
}



.main .main-wrap  .sub-banner{
    width: 100%;
    height: 250px;
    margin-top: 100px;
}

.main .main-wrap .sub-banner .sub-banner-wrap{
    width: 90%;
    height: 100%;
    margin: 0 auto;

}

.main .main-wrap .sub-banner .sub-banner-wrap .sub-banner-back{
    width: 100%;
    height: 250px;
    background-color: #e7f4fa;
    border-radius: 10px;
    position: relative;
}

.main .main-wrap .sub-banner .sub-banner-wrap .sub-banner-back p{
    width: 500px;
    font-size: 2.4rem;
    margin-left: 110px;
    display: block;
    height: 40px;
    padding-top: 40px;
    font-weight: 600;

}


.main .main-wrap .sub-banner .sub-banner-wrap .sub-banner-back span{

    margin-left: 110px;
     margin-top: 10px;
     display: block;
     font-size: 1.7rem;
     font-weight: 400;
}

.main .main-wrap .sub-banner .sub-banner-wrap .sub-banner-back a{
    width: 180px;
    height: 50px;
    background-color: #043255;
    display: block;
    margin-left: 110px;
    margin-top: 55px;
    border-radius: 40px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
}

.main .main-wrap .sub-banner .sub-banner-wrap .sub-banner-back img{
    position: absolute;
    top:50px;
    right: 0px;
    z-index: 80;
    width: 230px;
}



.main .main-wrap .site-content{
    width: 100%;
    margin-top: 50px;
}

.main .main-wrap .site-content h3{
    width: 85%;
    margin: 0 auto;
    font-size: 2.6rem;
    margin-bottom: 40px;
    padding-left: 40px;


}   


.main .main-wrap .site-content .site-content-wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.main .main-wrap .site-content .site-content-wrap .site-cotent-box{
    width: 45%;

}


.main .main-wrap .site-content .site-content-wrap .site-cotent-box .site-cotent-box-wrap{
    width: 90%;
    height: 110px;
    background-color: #fff;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.15);
    border: .2rem solid rgba(0,0,0,0);
}




.main .main-wrap .site-content .site-content-wrap .site-cotent-box .site-cotent-box-wrap:hover{
    background-image: linear-gradient(#fff, #fff),linear-gradient(104.25deg, #4cbdf2 30.52%, #043255 102.67%);
    background-origin: border-box;
    background-clip: content-box,border-box;
    border-image-slice: 1;
    border: .2rem solid rgba(0,0,0,0);
    transition: 0.5s;
}



.main .main-wrap .site-content .site-content-wrap .site-cotent-box .site-cotent-box-wrap i{
    color: #d8d8d8;
}

.main .main-wrap .site-content .site-content-wrap .site-cotent-box .site-cotent-box-wrap:hover i{
    color: #043255;
}

.main .main-wrap .site-content .site-content-wrap .site-cotent-box .site-cotent-box-wrap a{
    display: block;
    margin-left: 60px;
    font-size: 1.7rem;
}


.main .main-wrap .site-content .site-content-wrap .site-cotent-box .site-cotent-box-wrap a:nth-of-type(1) {
    padding-top: 30px;
    font-size: 2rem;
    margin-bottom: 5px;
    font-weight: 600;
}

.main .main-wrap .site-content .site-content-wrap .site-cotent-box .site-cotent-box-wrap p{
    float: right;
    margin-right: 50px;
    font-size: 2.5rem;
    margin-top: -50px;
    transform: rotate(-40deg);
}


/* aside 시작 */
/* aside 시작 */
/* aside 시작 */


.main .main-wrap .main-wrap-aside{
    width: 30%;
}


.main .main-wrap .main-wrap-aside .aside{
    width: 27%;
    position: fixed;
    top: 160px;
}


.main .main-wrap .main-wrap-aside .aside .login-wrap{
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: space-between ;
    align-items: center;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0,0.15);
    background-color: #fff;
    border-radius: 13px;


}






.main .main-wrap .main-wrap-aside .aside .login-wrap .login-text{
    width: 50%;
    margin-left: 10%;
}


.main .main-wrap .main-wrap-aside .aside .login-wrap .login-text span{
    font-size: 2.0rem;
    font-weight: 500;
    margin-bottom: 7px;
    letter-spacing: 2px;
    width: 100%;

}

.main .main-wrap .main-wrap-aside .aside .login-wrap .login-text input {
    -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none;
    width: 95%;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin: 3px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    font-size: 1.3rem;
}

input[type=text]:focus{
    box-shadow: 0 0 8px 0 #ddd;
}


.main .main-wrap .main-wrap-aside .aside .login-wrap .login-text p{
    font-size: 1.1rem;
    transition: 0.2s;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
    margin-left: 5px;
    letter-spacing: 0.5px;
}


.main .main-wrap .main-wrap-aside .aside .login-wrap .login-text .login-sub{
    display: flex;
}


.main .main-wrap .main-wrap-aside .aside .login-wrap .login-text p:hover{
    text-decoration: underline;
}



.main .main-wrap .main-wrap-aside .aside .login-wrap .login-button-wrap{
    width: 30%;
    height: 90px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.1); 
    margin: 0 auto;

}

.main .main-wrap .main-wrap-aside .aside .login-wrap .login-button-wrap a{
    font-size: 1.7rem;
    line-height: 90px;
    width: 100%;
    height: 100%;
}


.main .main-wrap .main-wrap-aside .aside span{
    display: block;
}



.main .main-wrap .main-wrap-aside .aside .aside-search{ 
    display: flex;
    width: 95%;    
    margin: 0 auto;
    margin-top: 25px;
}

.main .main-wrap .main-wrap-aside .aside .aside-search .aside-search-wrap{
    width: 75%;
}


.main .main-wrap .main-wrap-aside .aside .aside-search .aside-search-wrap input{
    width: 100%;
    height: 62px;
    border-radius: 15px 0 0 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none;
     border: 4px solid #043255;;
    outline: none;
    box-sizing: border-box;
    font-size: 1.5rem;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.15);
}


.main .main-wrap .main-wrap-aside .aside .aside-search .search-button{
    width: 25%;
    height: 62px;   
    background-color: #043255;
    line-height: 62px;
    border-radius:  0 15px 15px 0;

}

.main .main-wrap .main-wrap-aside .aside .aside-search .search-button a{
    width: 100%;
    text-align: center;
    height: 60px;
    display: block;
    line-height: 60px;
    font-size: 1.8rem;
    letter-spacing: 2px;
    color: #fff;


}


.main .main-wrap .main-wrap-aside .aside  .quick-menu-wrap{
    width: 100%;
    height: 330px;
}

.main .main-wrap .main-wrap-aside .aside  .quick-menu-wrap .quick-menu{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    justify-content: center;
    margin-top: 25px;   
}



.main .main-wrap .main-wrap-aside .aside  .quick-menu-wrap .quick-menu .quick-content{
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.15);
    width: 45%;
    height: 150px;
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    line-height: 25px;
    border: .2rem solid rgba(0,0,0,0);
}

.main .main-wrap .main-wrap-aside .aside  .quick-menu-wrap .quick-menu .quick-content:hover{
    background-image: linear-gradient(#fff, #fff),linear-gradient(104.25deg, #4cbdf2 30.52%, #043255 102.67%);
    background-origin: border-box;
    background-clip: content-box,border-box;
    border-image-slice: 1;
    border: .2rem solid rgba(0,0,0,0);
    transition: 0.5s;
}
 

.main .main-wrap .main-wrap-aside .aside  .quick-menu-wrap img{
    width: 20%; padding-top: 32px;}


.main .main-wrap .main-wrap-aside .aside  .quick-menu-wrap p{
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 3px;
}


.main .main-wrap .main-wrap-aside .aside .app-wrap{
    width: 100%;
    height: 90px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.15);
    margin-top: 20px;
}

.main .main-wrap .main-wrap-aside .aside .app-wrap .app{
    width: 12%;
    height: 54px;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.15);
}

.main .main-wrap .main-wrap-aside .aside .app-wrap .app img{
    width: 50%;
    line-height: 57px;
    margin-top: 6px;
}

.main .main-wrap .main-wrap-aside .aside .app-wrap a{
    font-size: 1.4rem;
    margin-left: 10px;
}



.main .main-wrap .aside.on{
    top: 40px;
    transition: 0.6s;
}


.main .main-wrap .aside.down{
    top: -170px;
}



/* 푸터 */

.footer{
    width: 100%; 
    height: 300px;
    position: relative;
    background-color: #043255;
    margin-top: 70px;

}

.footer .footer-wrap{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}


.footer .footer-wrap .top-footer{
    width: 100%;
    height: 50px;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}
.footer .footer-wrap .top-footer ul{
    display: flex;
    width: 70%;
}

.footer .footer-wrap .top-footer ul li{
    font-size: 1.4rem;
}

.footer .footer-wrap .top-footer .select-box{
    position: relative;
    display: flex;
    gap: 15px;
    width: 30%;
}


.footer .footer-wrap .top-footer .select-box .select-box-wrap{
    width: 55%;
    text-align: center;
    line-height: 50px;
    font-size: 1.6rem;
    border: 1px solid #fff;
    background-color: #094f84;
    position: relative;
}

.footer .footer-wrap .top-footer .select-box .select-box-wrap p{
    color: #fff;
}


.footer .footer-wrap .top-footer .select-box .select-box-wrap i{
    color: #fff;
    font-size: 1.3rem;
    margin-left: 5px;
}

.footer .footer-wrap .top-footer .options{
    display: none;
}

.footer .footer-wrap .top-footer .options.on{
    display: block;
}

.footer .footer-wrap .top-footer .options ul{
    width: 100%;
    display: block;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px; left: -20px;
}

.footer .footer-wrap .top-footer .options ul li{
    width: 100%;
    height: 40px;
    background-color: #094f84;
    text-align: center;
    line-height: 40px;
    font-size: 1.5rem;
}


.footer .footer-wrap .top-footer .options ul li a{
    color: #fff;
}
.footer .footer-wrap .top-footer .options ul li:hover{
    background-color: #1378c5;
}


.footer .footer-wrap .top-footer .site-button{
    width: 45%;
    text-align: center;
    line-height: 50px;
    background-color: #094f84;
    border: 1px solid #fff;
}


.footer .footer-wrap .top-footer .site-button a{
    color: #fff;
    font-size: 1.6rem;
    
}



.footer .footer-wrap .top-footer ul>li{
    display: inline;
    margin-left: 20px;
}

.footer .footer-wrap .top-footer >ul>li>a{
    line-height: 50px;
    color: #fff;
}


.footer .footer-wrap .bottom-footer{
    width: 90%;
    display: flex;
    gap: 30px;
} 
.footer .footer-wrap .bottom-footer a{
    width: 10%;
}


.footer .footer-wrap .bottom-footer img{
    width: 100%;
    text-align: center;
    margin-left: 18px;
}


.footer .footer-wrap .bottom-footer > ul {
    width: 70%;
}

.footer .footer-wrap .bottom-footer >ul li a{
    font-size: 1.5rem;
    line-height: 28px;
    color: #fff;
    font-weight: 300;
}

/* 테블릿 가로 (해상도 768px ~ 1023px)*/ 
@media all and (max-width:1023px) { 



    .pop-up{
        width: 300px;
        height: 350px;
    }

    .pop-up .check-box label{
        font-size: 1.2rem;
    }

    .pop-up .check-box .close{
        width: 32px;
        height: 32px;
    }
    
    .pop-up .check-box .close i{
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        font-size: 1.8rem;
    }


    
    .sub-header .sub-header-wrap ul a{
        font-size: 1.2rem;
    }
    .sub-header {
        height: 40px;
    }
    .sub-header .sub-header-wrap ul a{
        line-height: 40px;
    }

    .header{
        height: 60px;
    }
    .header-wrap .header-left .main-nav .main-nav-text{
        display: none;
    }

    .header-wrap .header-left .main-nav .all-menu{
        display: block;
        font-size: 1.4rem;
        padding: 0 10px;
    }

    .header-wrap .header-left .main-nav .all-menu::after{
        width: 100px;
        height: 40px;
        background-color: #b2e1f5;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 40px;
        transform: translate(-50%,-50%);
        z-index: -1;
    }

        
    .header-wrap .header-left .all-menu i{
        font-size: 1.6rem;
        margin-left: 2px;
    }


    .header-wrap .header-right .title{
        font-size: 1.5rem;
    }
    .header-wrap .header-right img{
        width: 60%;
        background-color: #043255;
    }

    .main .main-wrap .main-wrap-aside .aside {
        display: none;
    }
    
    .main .main-wrap .main-wrap-cont{
        width: 100%;

    }

    .main .main-wrap .main-wrap-cont .main-slider{
        width: 100%;
    }

        
    .main .main-wrap .main-wrap-cont .main-slider .silde-text{
        display: none;

    }

    .tab-content{
        width: 100%;
        height: 550px;
    }

    .tab-content .tab-content-wrap .tab-title{
        padding: 20px 0 0 0px ;
        height: 50px;
    }

    .tab-content .tab-content-wrap .tab-title .tab-title-ul li{
        width: 25%;
    }

    .tab-content .tab-content-wrap .tab-title .tab-title-ul li p{
        font-size: 1.6rem;
        height: 40px;
        line-height: 40px;
    }
    
    .tab-content .tab-content-wrap .tab-title .tab-title-ul li.on p{
        background-color: #043255;
        border-radius: 40px;
        height: 40px;
        line-height:40px;
        color: #fff;
    }

    .tab-content .tab-content-wrap .tab-text .tab-text-content ul li{
        width: 100%;
        margin-bottom: 20px;
        height: 25px;
    
    }

    
    .tab-content .tab-content-wrap .tab-text .tab-text-content ul li a{
        width: 60%;
        font-size: 1.5rem;
    }
 

    
    .tab-content .tab-content-wrap .tab-text .tab-text-content ul li span{
        float: none;
        margin-left: 3px;
    }

    .main .main-wrap .icon h3{
        font-size: 2.2rem;
        text-align: center;
    }

    .main .main-wrap .icon .icon-content{
        width: calc( 50% - 5px);
        box-sizing: border-box;
    }

    .main .main-wrap .icon{
        height: 650px;
        overflow: hidden;
    }

    .main .main-wrap .sub-banner .sub-banner-wrap{
        width: 100%;

    } 

    .main .main-wrap .sub-banner .sub-banner-wrap .sub-banner-back p{
        font-size: 1.7rem;
        margin-left: 30px;

    }

    .main .main-wrap .sub-banner .sub-banner-wrap .sub-banner-back span{
        margin-left: 30px;
        font-size: 1.2rem;
    }

    .main .main-wrap .sub-banner .sub-banner-wrap .sub-banner-back a{
        width: 300px;
        height: 45px;
        line-height: 45px;
        font-size: 1.5rem;
        margin: 0 auto;
        margin-top: 80px;
        
    }


    .main .main-wrap .site-content .site-content-wrap .site-cotent-box{
        width: 100%;

    }


    .main .main-wrap .sub-banner .sub-banner-wrap .sub-banner-back img{
        max-width: 160px;
        overflow: hidden;
    }
    
    .footer{
        width: 100%; 
        height: 300px; 
    }
    
    .footer .footer-wrap{
        width: 100%;
    }
    
    .footer .footer-wrap .top-footer{
        flex-direction: column;
        padding-top: 40px;
    }

    .footer .footer-wrap .top-footer ul{
        width: 90%;
        margin: 0 auto;
    }

    .footer .footer-wrap .top-footer > ul>li{
        width: 100%;
        text-align: center;
    }

    .footer .footer-wrap .top-footer ul> li a{
        font-size: 1.4rem;
        width: 100%;
    }
    
    
    .footer .footer-wrap .top-footer .select-box{
        width: 50%;
        justify-content: center;
        margin: 0 auto;
        margin-top: 20px;
    }
    .footer .footer-wrap .top-footer .select-box a{
        font-size: 1.2rem;
    }

    .footer .footer-wrap .bottom-footer{
        justify-content: center;
        padding-top: 80px;
        width: 100%;

    }

    .footer .footer-wrap .bottom-footer > a{
        width: 100%;
    
    }
    .footer .footer-wrap .bottom-footer img{
        width: 90%;
        text-align: center;
        margin-top: 40px;
    }
    
    .footer .footer-wrap .bottom-footer >ul{
        margin-top: 20px;
        width: 600%;
    }

    .footer .footer-wrap .bottom-footer >ul li a{
        font-size: 1.2rem;
        line-height: 14px;
    }



  } 
  
  /* 모바일 (해상도 768px 이하 )*/ 
  @media all and (max-width:768px) {


    .pop-up{
        width: 300px;
        height: 340px;
    }

    .pop-up .check-box label{
        font-size: 1.2rem;
    }

    .pop-up .check-box .close{
        width: 25px;
        height: 25px;
    }
    
    .pop-up .check-box .close i{
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        font-size: 1.4rem;
    }





    .sub-header{
        height: 30px;
    }

        
    .sub-header .sub-header-wrap ul a {
        font-size: 1rem;
        padding: 0 5px;
        line-height: 30px;
    }
    .header{
        height: 40px;
    }

    .header-wrap .header-left .main-nav .all-menu{
        font-size: 1rem;
        margin-right: 80px;
        display: none;
    }

    .m-all-menu{
        display: block;
        width: 50px;
        height: 50px;
        background-color: #043255;
        border-radius: 50%;
        position: fixed;
        top: 80px;
        right: 20px;

    }
    .m-all-menu i{
        width: 100%;
        text-align: center;
        line-height: 50px;
        font-size: 1.5rem;
        color: #fff;
    }


    
    .header-wrap .header-right .title{
        font-size: 1.5rem;
        line-height: 40px;
    }

    .header-wrap .header-right img{
        background-color: #043255;
        width: 17px;
        margin-right: 5px;
    }


    .header-right{
        justify-content: center;
        width: 100%;
    }
 

    
    .tab-content{
        width: 100%;
        height: 450px;
    }


    .tab-content .tab-content-wrap .tab-title{
        padding: 20px 0 0 10px ;
        height: 40px;
    }

    
    .tab-content .tab-content-wrap .tab-title .tab-title-ul li p{
        font-size: 1.4rem;
        line-height: 30px;
    }

    .tab-content .tab-content-wrap .tab-title .tab-title-ul li.on p{
        height: 30px;
        line-height: 30px;
    }
    .tab-content .tab-content-wrap .tab-text .tab-text-content ul li a{
        font-size: 1.3rem;
        width: 100%;
    }

    .tab-content .tab-content-wrap .tab-text .tab-text-content ul li{
        width: 100%;
        margin-bottom: 10px;
        height: 20px;
    }
    .tab-content .tab-content-wrap .tab-text .tab-text-content ul li span{
        display: none;
    }

    .tab-content .tab-content-wrap .tab-text .tab-text-content .main-day-wrap .day{
        width: 70px;
        height: 60px;
    }

    .tab-content .tab-content-wrap .tab-text .tab-text-content .main-day-wrap .day span{
        font-size: 1.6rem;
    }

    
    .tab-content .tab-content-wrap .tab-text .tab-text-content .main-day-wrap .day p{
        font-size: 1rem;
    }


    .tab-content .tab-content-wrap .tab-text .tab-text-content .main-day-wrap .day-text span{
        margin-top: 0;
        font-size: 1.5rem;
    }
    
    

    .tab-content .tab-content-wrap .tab-text .tab-text-content .day-eta-wrap .day-text p{
    font-size: 1.3rem;
    text-overflow: ellipsis;
    }
    
    .tab-content .tab-content-wrap .tab-text .tab-text-content .main-day-wrap .day-text p{
        
        font-size: 0.9rem;

    }

    .tab-content .tab-content-wrap .tab-title .title-button .tab-more{
        left: 50%;
        transform: translateX(-50%);
        width: 180px;
        height: 50px;
        border-radius: 40px;
    }

    .tab-content .tab-content-wrap .tab-title .title-button .tab-more i{display: none;}

    .tab-content .tab-content-wrap .tab-title .title-button .tab-more p{
        display: block;
        font-size: 1.4rem;
        line-height: 50px;
    }

    
    .tab-content .tab-content-wrap .tab-title .title-button .tab-more:hover{
        display: block;
        font-size: 1.4rem;
        line-height: 50px;
        width: 180px;
        height: 50px;
        border-radius: 40px;
    } 

    .tab-content .tab-content-wrap .tab-title .title-button .tab-more:hover p{
        font-size: 1.4rem;
    }
    .footer .footer-wrap .top-footer > ul>li{
        margin-left: 0;
        
    }
    .main .main-wrap .icon h3{
        font-size: 2.6rem;
        text-align: center;
        padding-left: 0;
    }

    
    .main .main-wrap .sub-banner .sub-banner-wrap .sub-banner-back p{
        font-size: 1.7rem;

    }


    .main .main-wrap .sub-banner .sub-banner-wrap .sub-banner-back img{
        width: 30%;
        margin-top: 30px;
    }

    .site-content h3{
        font-size: 1.9rem;
        text-align: center;
        padding-left: 0;

    }

    .footer .footer-wrap .bottom-footer >ul li a{
        font-size: 1rem;
        line-height: 12px;
    }

    
    .main .main-wrap .sub-banner .sub-banner-wrap .sub-banner-back a{
        left: 50%;
        transform: translateX(-50%);
        width: 180px;
        height: 50px;
        line-height: 50px;
        border-radius: 40px;
        position: absolute;
    }

    .footer{
        height: 400px;
    }
    .footer .footer-wrap .top-footer {
        height: 200px;
        margin-bottom: 0;
        padding-bottom: 5px;
    }


    .footer .footer-wrap .top-footer ul{
        flex-wrap: wrap;
    }
    .footer .footer-wrap .top-footer ul> li {
        width: 33.3%;
    }
    
    .footer .footer-wrap .top-footer ul> li a{
        font-size: 1.2rem;
        width: 100%;
    }



        
    .footer .footer-wrap .top-footer .site-button{
        width: 50%;
    }

    
    .footer .footer-wrap .top-footer .select-box .select-box-wrap{
        width: 60%;
    }

    .footer .footer-wrap .bottom-footer{
        background-color: #043255;
        padding-top: 0px;
        margin-top: 0;
    }



    @media all and (max-width:375px){

        .main .main-wrap .icon .icon-content{
            height: 120px;
        }
    
        .main .main-wrap .icon .icon-content img{
            width: 20px;
            height: 20px;
       
        }

        
        .main .main-wrap .icon .icon-content a{
            font-size: 1.3rem;
        }

        .main .main-wrap .icon h3{
            font-size: 1.6rem;
            padding-left: 0;

        }


        .main .main-wrap .sub-banner .sub-banner-wrap .sub-banner-back img{
            width: 25%;
            margin-top: 60px;
        }
    
        .main .main-wrap .site-content h3{
            font-size: 1.6rem;
            padding-left: 0;
        }

        
        .main .main-wrap .site-content .site-content-wrap .site-cotent-box .site-cotent-box-wrap i{
            font-size: 1.5rem;
        }

        
        .main .main-wrap .site-content .site-content-wrap .site-cotent-box .site-cotent-box-wrap a{
            font-size: 1.3rem;
        }

        .main .main-wrap .site-content .site-content-wrap .site-cotent-box .site-cotent-box-wrap a:nth-of-type(1){
            font-size: 1.6em;
        }
        .footer .footer-wrap .top-footer ul> li a{
            font-size: 0.8rem;
            width: 33.3%;
        }
        
        .footer{
            height: 320px;
        }
         
    .footer .footer-wrap .top-footer .select-box{
        width: 90%;
    }
    .footer .footer-wrap .top-footer .select-box a{
        font-size: 1rem;
    }

    
    .footer .footer-wrap .top-footer .site-button{
        width: 40%;
    }

    
    .footer .footer-wrap .top-footer .select-box .select-box-wrap{
        width: 40%;
    }



    .footer .footer-wrap .bottom-footer >ul li a{
        font-size: 0.6rem;
        line-height: 14px;
    }

    }



 
}